<% include src/html/header %>

<div class="about-container">
    <h2>About</h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Magni cupiditate saepe accusamus sit assumenda, consectetur culpa, dolorem cum, 
        dolorum in beatae voluptates earum vel impedit tempora quas exercitationem nostrum labore!
    </p>
</div>

<% include src/html/footer %>