<% include src/html/header %>
<% require('../img/team.jpg')%>
<div class="about-container container">
    <div class="about">
        <h2 class="about-header">About</h2>
        <p class="about-maingoal">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Magni cupiditate saepe accusamus sit assumenda, consectetur culpa, dolorem cum,
            dolorum in beatae voluptates earum vel impedit tempora quas exercitationem nostrum labore!
        </p>
        <h3>Our team</h3>
        <div class="about-gallery">
            <figure>
                <figcaption>
                    Project manager
                </figcaption>
            </figure>
            <figure>
                <figcaption>
                    Developer
                </figcaption>
            </figure>
            <figure>
                <figcaption>
                    QA
                </figcaption>
            </figure>
            <figure>
                <figcaption>
                    Designer
                </figcaption>
            </figure>
            <figure>
                <figcaption>
                    Unknown
                </figcaption>
            </figure>
        </div>
    </div>
</div>

<% include src/html/footer %>