<div class="category-container">
    <ul class="category">
        <li class="category-item"><a href="">autoff</a></li>
        <li class="category-item"><a href="">autoff</a></li>
        <li class="category-item"><a href="">autoff</a></li>
        <li class="category-item"><a href="">autoff</a></li>
        <li class="category-item"><a href="">autoff</a></li>
    </ul>
    <form action="" method="get" class="search">
        <input type="text" placeholder="Search" class="search-input">
        <button class="search-btn">O</button>
    </form>
</div>