<div class="footer-container">
        <footer class="footer">
            <div>
                <ul class="footer-links">
                    <li class="footer-links-item"><a href="/">Main page</a></li>
                    <li class="footer-links-item"><a href="/contacts.html">Contacts</a></li>
                    <li class="footer-links-item"><a href="/about.html">About</a></li>
                </ul>
                <div class="footer-soc">
                    <span>Find us in social:</span>
                    <ul class="footer-soc-list">
                        <li class="footer-soc-list-item faceb-icon"><a href="https://www.facebook.com" target="_blank"></a></li>
                        <li class="footer-soc-list-item twit-icon"><a href="https://twitter.com" target="_blank"></a></li>
                        <li class="footer-soc-list-item inst-icon"><a href="https://www.instagram.com" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
            <p class="copyright">
               Au4u &#9400 2019-2019. All rights reserved(no)
            </p>
        </footer>
    </div>
</body>
</html>