<div class="footer-container">
        <footer class="footer">
            <div>
                <ul class="footer-links">
                    <li class="footer-links-item"><a href="">some text</a></li>
                    <li class="footer-links-item"><a href="">some text</a></li>
                    <li class="footer-links-item"><a href="">some text</a></li>
                </ul>
                <div class="footer-soc">
                    <span>Find us in social:</span>
                    <ul class="footer-soc-list">
                        <li class="footer-soc-list-item faceb-icon"><a href=""></a></li>
                        <li class="footer-soc-list-item twit-icon"><a href=""></a></li>
                        <li class="footer-soc-list-item inst-icon"><a href=""></a></li>
                    </ul>
                </div>
            </div>
            <p class="copyright">
               Au4u &#9400 2019-2019. All rights reserved(no)
            </p>
        </footer>
    </div>
</body>
</html>