<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Au4u</title>
</head>
<body>
    <div class="header-container">
        <header class="header">
            <a href="/" class="logo">Au4u</a>
            <nav class="main-nav nav-uncollapsed">
                <ul class="nav-list">
                    <li class="nav-list-item"><a href="/">Main page</a></li>
                    <li class="nav-list-item"><a href="/offer.html">Offers</a>
                        <ul class="nav-submenu">
                            <li class="nav-submenu-item"><a href="/offer.html?category=auto">Auto</a></li>
                            <li class="nav-submenu-item"><a href="/offer.html?category=computers">Computers</a></li>
                            <li class="nav-submenu-item"><a href="/offer.html?category=appliencies">Appliencies</a></li>
                            <li class="nav-submenu-item"><a href="/offer.html?category=clothes">Clothes</a></li>
                            <li class="nav-submenu-item"><a href="/offer.html?category=other">Other</a></li>
                        </ul>
                    </li>
                    <li class="nav-list-item"><a href="/contacts.html">Contacts</a></li>
                    <li class="nav-list-item"><a href="/about.html">About</a></li>
                </ul>
            </nav>
            <ul class="auth-group">
                <li class="auth-group-item unauthorized"><a href="/login.html">Login</a></li>
                <li class="auth-group-item unauthorized"><a href="/register.html">Register</a></li>
                <li class="auth-group-item hidden authorized"><a href="#" class="my-account-a">My account</a></li>
                <li class="auth-group-item hidden authorized"><a href="#" class="logout-a">Logout</a></li>
            </ul>
            <nav class="main-nav nav-collapsed">
                <input id="nav-collapsed-toggle" type="checkbox" />
                <label class="nav-collapsed-btn" for="nav-collapsed-toggle">
                    <span></span>
                </label>
                <ul class="nav-list-col">
                    <li class="nav-list-col-item">
                        <ul class="nav-submenu-col">
                            <li class="nav-submenu-col-item unauthorized"><a href="/login.html">Login</a></li>
                            <li class="nav-submenu-col-item unauthorized"><a href="/register.html">Register</a></li>
                            <li class="nav-submenu-col-item hidden authorized"><a href="#" class="my-account-a">My account</a></li>
                            <li class="nav-submenu-col-item hidden authorized"><a href="#" class="logout-a">Logout</a></li>
                        </ul>
                    </li>
                    <li class="nav-list-col-item">
                        <a href="/">Main page</a>
                    </li>
                    <li class="nav-list-col-item">
                        <ul class="nav-submenu-col">
                            <li class="nav-submenu-col-item"><a href="/offer.html">All</a></li>
                            <li class="nav-submenu-col-item"><a href="/offer.html?category=auto">Auto</a></li>
                            <li class="nav-submenu-col-item"><a href="/offer.html?category=computers">Computers</a></li>
                            <li class="nav-submenu-col-item"><a href="/offer.html?category=appliencies">Appliencies</a></li>
                            <li class="nav-submenu-col-item"><a href="/offer.html?category=clothes">Clothes</a></li>
                            <li class="nav-submenu-col-item"><a href="/offer.html?category=other">Other</a></li>
                        </ul>
                    </li>
                    <li class="nav-list-col-item"><a href="/contacts.html">Contacts</a></li>
                    <li class="nav-list-col-item"><a href="/about.html">About</a></li>
                </ul>
            </nav>
        </header>
    </div>