<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Au4u</title>
</head>
<body>
    <div class="header-container">
        <header class="header">
            <a href="#" class="logo">Au4u</a>
            <nav class="main-nav nav-uncollapsed">
                <ul class="nav-list">
                    <li class="nav-list-item"><a href="#">Some test</a>
                        <ul class="nav-submenu">
                            <li class="nav-submenu-item"><a href="">some text</a></li>
                            <li class="nav-submenu-item"><a href="">some text</a></li>
                            <li class="nav-submenu-item"><a href="">some text</a></li>
                        </ul>
                    </li>
                    <li class="nav-list-item"><a href="#">Some test</a>
                        <ul class="nav-submenu">
                            <li class="nav-submenu-item"><a href="">some text</a></li>
                            <li class="nav-submenu-item"><a href="">some text</a></li>
                            <li class="nav-submenu-item"><a href="">some text</a></li>
                            <li class="nav-submenu-item"><a href="">some text</a></li>
                        </ul>
                    </li>
                    <li class="nav-list-item"><a href="#">Some test</a></li>
                    <li class="nav-list-item"><a href="#">Contacts</a></li>
                    <li class="nav-list-item"><a href="#">About</a></li>
                </ul>
            </nav>
            <ul class="auth-group">
                <li class="auth-group-item unauthorised"><a href="">Login</a></li>
                <li class="auth-group-item unauthorised"><a href="">Register</a></li>
                <li class="auth-group-item authorised"><a href="">Logout</a></li>
            </ul>
            <nav class="main-nav nav-collapsed">
                <input id="nav-collapsed-toggle" type="checkbox" />
                <label class="nav-collapsed-btn" for="nav-collapsed-toggle">
                    <span></span>
                </label>
                <ul class="nav-list-col">
                    <li class="nav-list-col-item unauthorised">
                        <ul class="nav-submenu-col">
                            <li class="nav-submenu-col-item"><a href="">Register</a></li>
                            <li class="nav-submenu-col-item"><a href="">Login</a></li>
                        </ul>
                    </li>
                    <li class="nav-list-col-item authorised"><a href="">Logout</a></li>
                    <li class="nav-list-col-item">
                        <ul class="nav-submenu-col">
                            <li class="nav-submenu-col-item"><a href="">some text</a></li>
                            <li class="nav-submenu-col-item"><a href="">some text</a></li>
                            <li class="nav-submenu-col-item"><a href="">some text</a></li>
                        </ul>
                    </li>
                    <li class="nav-list-col-item">
                        <ul class="nav-submenu-col">
                            <li class="nav-submenu-col-item"><a href="">some text</a></li>
                            <li class="nav-submenu-col-item"><a href="">some text</a></li>
                            <li class="nav-submenu-col-item"><a href="">some text</a></li>
                            <li class="nav-submenu-col-item"><a href="">some text</a></li>
                        </ul>
                    </li>
                    <li class="nav-list-col-item"><a href="#">Some test</a></li>
                    <li class="nav-list-col-item"><a href="#">Contacts</a></li>
                    <li class="nav-list-col-item"><a href="#">About</a></li>
                </ul>
            </nav>
        </header>
    </div>