<% include src/html/header %>
<% require('../img/computers.png') %>
<% require('../img/clothes.png') %>
<% require('../img/appliencies.png') %>
<% require('../img/auto.png') %>
<div class="main-container container">
        <main class="main-content">
            
            <% include src/html/category %>
            <div class="slider-container">
                <div class="slider">
                    <div class="slider-item slider-active">
                        <a href="/offer.html?category=computers"><img src="../img/computers.png" alt="computers"></a>
                    </div>
                    <div class="slider-item">
                        <a href="/offer.html?category=clothes"><img src="../img/clothes.png" alt="clothes"></a>
                    </div>
                    <div class="slider-item">
                        <a href="/offer.html?category=appliencies"><img src="../img/appliencies.png" alt="appliencies"></a>
                    </div>
                    <div class="slider-item">
                        <a href="/offer.html?category=auto"><img src="../img/auto.png" alt="auto"></a>
                    </div>
                    <button class="slider-controll-prev slider-controll"></button>
                    <button class="slider-controll-next slider-controll"></button>
                </div>
            </div>
            <div class="special-offer-container">
                <h2 class="special-offer-heading">
                    Interesting offers
                </h2>

                <div class="special-offer">
                    <%% lot.forEach( lot => { %>
                    <div class="special-offer-item">
                        <div class="special-offer-item-img" style="background-image: url('<%%= lot.image %>');">
                            <a href="/lot/<%%= lot._id %>"></a>
                        </div>
                        <div class="special-offer-item-desc">
                                <a href="/lot/<%%= lot._id %>">
                                <%% if(lot.title.length > 50) { %>
                                <%%= lot.title.substring(0, 47) + '...' %>
                                <%% } else { %>
                                <%%= lot.title %>
                                <%% } %></a>
                        </div> 
                        <p class="special-offer-item-price">
                            currentPrice: <span class="amount">$<%%= lot.currentPrice %></span>
                        </p>
                    </div>
                    <%% }) %>
                    
                    <!-- <div class="special-offer-item">
                        <div class="special-offer-item-img">
                            <img src="../img/2.jpg" alt="" >
                        </div>
                        <div class="special-offer-item-desc">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus dolorum fugit sit eos
                        </div> 
                        <p class="special-offer-item-price">
                            price: <span class="amount">$1000</span>
                        </p>
                    </div>
                    <div class="special-offer-item">
                        <div class="special-offer-item-img">
                            <img src="../img/2.jpg" alt="" >
                        </div>
                        <div class="special-offer-item-desc">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus dolorum fugit sit eos
                        </div> 
                        <p class="special-offer-item-price">
                            price: <span class="amount">$1000</span>
                        </p>
                    </div>
                    <div class="special-offer-item">
                        <div class="special-offer-item-img">
                            <img src="../img/2.jpg" alt="" >
                        </div>
                        <div class="special-offer-item-desc">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus dolorum fugit sit eos
                        </div> 
                        <p class="special-offer-item-price">
                            price: <span class="amount">$1000</span>
                        </p>
                    </div>
                    <div class="special-offer-item">
                        <div class="special-offer-item-img">
                            <img src="../img/2.jpg" alt="" >
                        </div>
                        <div class="special-offer-item-desc">
                                nsectetur adipisicing elit. Necessitatibus dolorum fugit sit eos
                        </div> 
                        <p class="special-offer-item-price">
                            price: <span class="amount">$1000</span>
                        </p>
                    </div>
                    <div class="special-offer-item">
                        <div class="special-offer-item-img">
                            <img src="../img/2.jpg" alt="" >
                        </div>
                        <div class="special-offer-item-desc">
                                Lorem ipsum dolor, sit amet  fugit sit eos
                        </div> 
                        <p class="special-offer-item-price">
                            price: <span class="amount">$1000</span>
                        </p>
                    </div> -->
                </div>
            </div>


        </main>
    </div>

<% include src/html/footer %>