<% include src/html/header %>
<% require('../img/1.jpg') %>
<% require('../img/2.jpg') %>
<div class="main-container">
        <main class="main-content">
            
            <% include src/html/category %>
            <div class="slider-container">
                <div class="slider">
                    <div class="slider-item slider-active">
                        <img src="../img/1.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/2.jpg" alt="">
                    </div>
                    <button class="slider-controll-prev slider-controll"></button>
                    <button class="slider-controll-next slider-controll"></button>
                </div>
            </div>
            <div class="special-offer-container">
                <h2 class="special-offer-heading">
                    Interesting offers
                </h2>

                <div class="special-offer">
                    <%% lot.forEach( lot => { %>
                    <div class="special-offer-item">
                        <div class="special-offer-item-img">
                            <img src="<%%= lot.image %>" alt="<%%= lot.title %>" >
                        </div>
                        <div class="special-offer-item-desc">
                                <%% if(lot.title.length > 50) { %>
                                <%%= lot.title.substring(0, 50) %>
                                <%% } else { %>
                                <%%= lot.title %>
                                <%% } %>
                        </div> 
                        <p class="special-offer-item-price">
                            currentPrice: <span class="amount">$<%%= lot.currentPrice %></span>
                        </p>
                    </div>
                    <%% }) %>
                    
                    <!-- <div class="special-offer-item">
                        <div class="special-offer-item-img">
                            <img src="../img/2.jpg" alt="" >
                        </div>
                        <div class="special-offer-item-desc">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus dolorum fugit sit eos
                        </div> 
                        <p class="special-offer-item-price">
                            price: <span class="amount">$1000</span>
                        </p>
                    </div>
                    <div class="special-offer-item">
                        <div class="special-offer-item-img">
                            <img src="../img/2.jpg" alt="" >
                        </div>
                        <div class="special-offer-item-desc">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus dolorum fugit sit eos
                        </div> 
                        <p class="special-offer-item-price">
                            price: <span class="amount">$1000</span>
                        </p>
                    </div>
                    <div class="special-offer-item">
                        <div class="special-offer-item-img">
                            <img src="../img/2.jpg" alt="" >
                        </div>
                        <div class="special-offer-item-desc">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus dolorum fugit sit eos
                        </div> 
                        <p class="special-offer-item-price">
                            price: <span class="amount">$1000</span>
                        </p>
                    </div>
                    <div class="special-offer-item">
                        <div class="special-offer-item-img">
                            <img src="../img/2.jpg" alt="" >
                        </div>
                        <div class="special-offer-item-desc">
                                nsectetur adipisicing elit. Necessitatibus dolorum fugit sit eos
                        </div> 
                        <p class="special-offer-item-price">
                            price: <span class="amount">$1000</span>
                        </p>
                    </div>
                    <div class="special-offer-item">
                        <div class="special-offer-item-img">
                            <img src="../img/2.jpg" alt="" >
                        </div>
                        <div class="special-offer-item-desc">
                                Lorem ipsum dolor, sit amet  fugit sit eos
                        </div> 
                        <p class="special-offer-item-price">
                            price: <span class="amount">$1000</span>
                        </p>
                    </div> -->
                </div>
            </div>


        </main>
    </div>

<% include src/html/footer %>