<% include src/html/header %>
<!-- <% require('../img/2.jpg') %> --> 

<div class="lot-container container">
    <% include src/html/category %>

    <div class="lot">
        <div class="lot-header">
            <div class="lot-header-breadcrums">
                <a href="/offer.html">main</a>/<a href="/offer.html?category=<%%= lot.category %>"><%%= lot.category %></a>
            </div>
        </div>
        <div class="lot-picture" style="background-image: url('<%%= lot.image %>')">
            
        </div>
        <div class="lot-details">
            <div class="lot-details-title">
                <%%= lot.title %>
            </div>
            <div class="lot-details-seller">
                seller: <span><%%= lot.seller %></span>
            </div>
            <div class="lot-details-price">
                <span class="lot-details-price-text">Current price:</span>
                <span class="lot-details-price-value">$<%%= lot.currentPrice %></span>
                <%% if (!lot.sold) {%>
                <form action="/lot/<%%= lot._id %>?_method=PUT" method="POST" class="lot-details-price-form authorized hidden">
                    <input type="number" name="price" class="lot-details-price-bet" placeholder="$" min="<%%= lot.currentPrice + 1 %>">
                    <input type="hidden" name="username" value="">
                    <input type="hidden" name="password" value="">
                    <button>Bid</button>
                </form>
                <%% } %>
                <p class="unauthorized">Login to bid</p>
            </div>
        </div>
        <div class="lot-description">
            <span>Description:</span>
            <p>
                <%%= lot.description %>
            </p>
        </div>
        <div class="lot-bids">
            <span>Bids:</span>
            <%% lot.bids.reverse().forEach( bid => { %>
            <p><%%= bid.user %> - $<%%= bid.price %>.  <%%=bid.time.getHours() + ':' + bid.time.getMinutes() + ',' + bid.time.toDateString() %></p>
            <%% }) %>
        </div>
    </div>

</div>

<% include src/html/footer %>