<% include src/html/header %>
<!-- <% require('../img/2.jpg') %> --> 

<div class="lot-container">
    <% include src/html/category %>

    <div class="lot">
        <div class="lot-header">
            <div class="lot-header-breadcrums">
                <a href="/offer.html">main</a> > <a href="/offer.html?category=<%%= lot.category %>"><%%= lot.category %></a>
            </div>
        </div>
        <div class="lot-picture" style="background-image: url('/<%%= lot.image %>')">
            
        </div>
        <div class="lot-details">
            <div class="lot-details-title">
                <%%= lot.title %>
            </div>
            <div class="lot-details-seller">
                seller: <%%= lot.seller %>
            </div>
            <div class="lot-details-price">
                <span class="lot-details-price-text">Current price:</span>
                <span class="lot-details-price-value">$<%%= lot.currentPrice %></span>
                <form action="">
                    <input type="number" class="lot-details-price-bet" placeholder="$">
                    <button>Bid</button>
                </form>
            </div>
        </div>
        <div class="lot-description">
            <span>Description:</span>
            <p>
                <%%= lot.description %>
            </p>
        </div>
        <div class="lot-bids">
            <span>Bids:</span>
            <%% lot.bids.forEach( bid => { %>
            <p><%%= bid.user %>: $<%%= bid.price %></p>
            <%% }) %> 
        </div>
    </div>

</div>

<% include src/html/footer %>