.category-container {
    margin: 15px 20px;
    padding: 0 10px;
    border: 1px solid $main_category_border;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $main_category_height;
    background: $background_standart;

    @include mq_medium_small {
        margin: 10px;
        height: $main_category_height + 20px;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
        
    }
    @include mq_small {
        margin: 5px;
        height: $main_category_height + 20px;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
        
    }
}

.category {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    @include mq_medium {
        flex: 1.2;
    }
    @include mq_medium_small {
        flex: 0;
    }
    @include mq_small {
        flex: 0;
    }

    &-item {
        flex: 1;
        display: flex;
        justify-content: center;
    }
}

.search {
    flex: 1;
    position: relative;
    height: $main_searc_height;
    @include mq_medium {
        flex: 0.8;
    }
    @include mq_medium_small {
        flex: 0;
    }
    @include mq_small {
        flex: 0;
    }

    &-input {
        width: 100%;
        height: 100%;
        padding-left: 20px;
        padding-right: $main_searcBtn_width + 5px;
        border: 1px solid $input_color;
        border-radius: 10px;

        &:focus {
            outline: none;
            box-shadow: 0 0 3px $input_color;
        }
    }

    &-btn {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        width: $main_searcBtn_width;
        border-radius: 0 10px 10px 0;
        border: none;
        background: white;
        cursor: pointer;
    }
}