.contacts-container {
    margin: 0 auto;
    margin-top: $header_height;
    padding-top: 30px;

    @include mq_large {
        max-width: $width_large;
    }
    @include mq_medium_large {
        max-width: $width_medium_large;
    }
    @include mq_medium {
        max-width: $width_medium;
        padding-top: 20px;
    }
    @include mq_medium_small {
        max-width: $width_medium_small;
        padding-top: 15px;
    }
    @include mq_small {
        max-width: $width_small;
        padding-top: 10px;
    }

    h2 {
        text-align: center;
        text-transform: uppercase;
    }


}