.footer-container {
    background: $footer_background;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $footer_height;
}

.footer {
    max-width: $width-medium-large;
    margin: 0 auto;
    padding: 20px 10px;

    @include mq_medium_small {
        padding: 10px 0;
    }
    @include mq_small {
        padding: 10px 0;
    }

    &>div {
        display: flex;
        @include mq_medium_small {
            display: block;
        }
        @include mq_small {
            display: block;
        }
    }
}

.footer-links {
    display: flex;
    justify-content: center;
    flex: 1;

    @include mq_medium_small {
        justify-content: space-evenly;
        margin-bottom: 10px;
    }
    @include mq_small {
        justify-content: space-evenly;
        margin-bottom: 10px;;
    }

    &-item {
        margin: 0 20px;
        @include mq_medium_small {
            margin: 0;
        }
        @include mq_small {
            margin: 0;
        }
    }
}

.footer-soc {
    display: flex;
    flex: 1;
    justify-content: center;
    &-list {
        display: flex;
        justify-content: space-evenly;
        width: 150px;

        &-item a{
            display: block;
            width: 30px;
            height: 30px;
            background-position: center center;
            background-size: 100% 100%;
        }
    }
}


.faceb-icon a{
    background-image: url('../img/faceb.svg');
}

.twit-icon a{
    background-image: url('../img/twit.svg');

}

.inst-icon a{
    background-image: url('../img/inst.svg');
}

.copyright {
    text-align: center;
}