// $header_background: #a6bcd1;
// $header_background: linear-gradient(to bottom, #b4cde4, #a6bcd1 30%, #a6bcd1 70%, #99aec2);

$background_standart: #fafdfd;
$background_body: rgba(240, 250, 255, 0.5);

$header_background: linear-gradient(to bottom, #c7dbee, #c3dbf1 30%, #c3dbf1 70%, #b1cfeb);
$header_a: #4d4d4d;
$header_a_hov: #000000;
$header_li_border: #303030;
$header_logo: #a14c4c;
$header_logo_hov: #a12626;
$header_submenu: #cee1f1;
$header_height: 50px;

$main_category_border: #b9b9b9;
$main_category_height: 80px;
$main_searc_height: 40px;
$main_searcBtn_width: 40px;

$main_slider_width: 700px;
$main_slider_height: 300px;

$footer_background: #c7dbee;
$footer_height: 100px;

$btn_background: #ecffec;

$input_color: #43D1AF;
$btn_hover: rgb(49, 199, 161);


// $res_large: 'min-width: 1281px';
// $res_medium_large: '(min-width: 1025px) and (max-width: 1280px)';
// $res_medium: '(min-width: 768px) and (max-width: 1024px)';
// $res_medium_small: '(min-width: 481px) and (max-width: 767px)';
// $res_small: '(min-width: 320px) and (max-width: 480px)';

$width_large: 1200px;
$width_medium_large: 1000px;
$width_medium: 100%;
$width_medium_small: 100%;
$width_small: 100%;

// $main_background: 